/* Root declarations */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbfb;
  height: 100%;
}

/* Top section */

.header {
  overflow: hidden;
  display: table;
  margin-top: 1em;
}

.header img {
  margin: 0 auto;
  float: left;
  width: 100px;
  height: 100px;
}

.food-menu {
  max-height: 100%;
  overflow: auto;
}

.header h1, .header h2 {
    padding-left: 0.25em;
    display: table-cell;
    vertical-align: middle;
}

.about {
  padding: 2em 4em 2em 2em
}

/* General Animations */

.about > h2 > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.about > h2 > a:hover {
  color: #000;
}

.about > h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.about > h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Progress */

.progress-label {
    float: left;
    margin-right: 1em;
    width: 10em;
}
.progress-percentage {
  float: right;
}

.progress {
  margin-top: 0.2em;
}
.nutrient-progress {
  cursor: pointer;
  opacity:0.7;
}

.selected-food-button:hover, .nutrient-progress:hover{
  opacity:1;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  transition: all 0.2s ease;
}


/* Information Panel */
.info-panel {
  min-height: 13em;
}

.info-panel-text {
  font-size: 1em;
}

.info-panel-header {
  background-color: #3f9cb8;
  color: white;
  position: relative;
}

.info-panel-side-header {
  right: 0.5em;
  position: absolute;
  display: inline-block;
  opacity: 0.75;
}

.info-panel-header-text {
  display: inline-block;
}

/* Selected Foods */

.food-item {
  font-size: 0.9em;
}

.recommended-food-item {
  overflow: auto;
  font-size: 0.9em;

}

.recommended-icon {
   float: left;
   width:20%;
    margin: 0 auto;
    color: gray;
}

.recommended-text {
   float: left;
   width: 80%;
    margin: 0 auto;
}

.food-item-amount > input, .food-item-amount > div {
  display: inline;  
}

.food-item-quantity {
  width: 2em;
}

.food-item-amount {
  width: 5em;
}

.food-item-weight {
  margin-top: 0.5em;
  border-top: 1px solid lightgray;
  text-align: right;
}
.food-item-align {
    margin-top: 0.5em;
  display: inline-block;
}

.food-item-text {
  width: 100%;
}

.food-item-amount > span {
  margin-left: 0.25em;
}

.marker {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.selected-food-button {
  opacity:0.5;
  margin-left : 0.5em;
  cursor: pointer;
}

.add-button {
  padding: 5px 15px 5px 15px;
}

.search-holder {
    position: relative;
}
.search-dropdown {
    position: absolute;
    z-index: 1;
    width : 100%;
}

input:focus + .search-dropdown {
    display: block;
}

.list-empty {
  opacity: 0.5;
}

.list-empty-text {
  padding: 0.5em;
  text-align: center;
}

.connection-error {
  width: 24em;
}