.Header {
    overflow: hidden;
    display: table;
    margin-top: 1em;
}

.Header > img {
    margin: 0 auto;
    float: left;
    width: 100px;
    height: 100px;
}

.NutrientLow {
    color: #FF3D7F;
}

.NutrientMedium {
    color: #FFAB2E;
}

.NutrientHigh {
    color: #7FC7AF;
}

.NutrientFull {
    color: #6ABE6E;
}
